body, label, input, button, radio, select {font-family: 'Helvetica Neue', Helvetica; font-weight: 400;}
h1, h2, h3, h4 {font-family: 'Helvetica Neue', Helvetica; font-weight: 400;}
body {overflow-y: hidden;}
input {autocorrect: "off"; spellcheck: "false";}

/* Put shiny notifications front and center */
#shiny-notification-panel {
  top: 52px;
  bottom: unset;
  left: unset;
  right:12px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
}

/* Disable bouncy transition for sidebar toggle. */
/* QUESTION - I don't like the bouncy transition
/* but if I turn it off, plotly and DT elements don't resize automatically
/* when I hide the sidebar
/* .content-wrapper,
/* .right-side,
/* .main-footer {
/*   -moz-transition: none;
/*   -webkit-transition: none;
/*   -o-transition: all 0 none;
/*   transition: none;
/* }
/* .main-sidebar,
/* .left-side {
/*   -moz-transition: none;
/*   -webkit-transition: none;
/*   -o-transition: all 0 none;
/*   transition: none;
/* }
 
